Options -Indexes

<FilesMatch "\.md$">
  Order allow,deny
  Deny from all
  Require all denied
</FilesMatch>

<FilesMatch "\.(php|phtml|phar|php5|php7)$">
  Order allow,deny
  Deny from all
  Require all denied
</FilesMatch>
